<h1 class="text-white text-4xl text-center mb-4 mt-4">Repte Tècnic</h1>
<h2 class="text-white text-2xl text-center mb-2">
  Afegeix usuaris a la taula, filtra, descarrega la informació o navega al
  perfil de l'usuari!
</h2>
<section
  id="usersTable"
  class="lg:mx-auto mx-2 my-4 p-3 bg-white shadow-lg rounded-lg max-w-4xl"
>
  <div clasS="text-center">
    <button
      mat-button
      (click)="openPopup()"
      class="border rounded bg-blue-500 text-white font-bold py-2 px-4 mx-4 my-4"
    >
      Afegir usuari (+)
    </button>
  </div>
  <div class="flex justify-center gap-4 mt-4 text-center"></div>
  <h1 class="mt-4 text-center text-2xl bg-gray-800 text-white p-2">
    Filtra usuaris per qualsevol camp
  </h1>
  <input
    type="text"
    class="mt-3 border rounded w-full h-10 p-3"
    placeholder="Buscar..."
  />

  <div class="text-center">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6"
      (click)="loadInitialUsers()"
    >
      Importar usuaris
    </button>
  </div>
  <div class="overflow-x-auto mt-8">
    <table class="min-w-full bg-white border-collapse">
      <thead class="bg-gray-800 text-white">
        <tr>
          <th class="py-3 px-4 uppercase font-semibold text-sm cursor-pointer" (click)="sortUsersBy('nom')">
            <div class="flex items-center justify-center">
              <span>Nom</span>
              <span class="material-icons">arrow_drop_down</span>
            </div>
          </th>
          <th class="py-3 px-4 uppercase font-semibold text-sm cursor-pointer" (click)="sortUsersBy('cognom')">
            <div class="flex items-center justify-center" >
              <span>Cognom</span>
              <span class="material-icons">arrow_drop_down</span>
            </div>
          </th>
          <th class="py-3 px-4 uppercase font-semibold text-sm cursor-pointer" (click)="sortUsersBy('email')">
            <div class="flex items-center justify-center">
              <span>Email</span>
              <span class="material-icons">arrow_drop_down</span>
            </div>
          </th>
          <th class="py-3 px-4 uppercase font-semibold text-sm cursor-pointer" (click)="sortUsersBy('dni')">
            <div class="flex items-center justify-center">
              <span>Dni</span>
              <span class="material-icons">arrow_drop_down</span>
            </div>
          </th>
          <th class="py-3 px-4 uppercase font-semibold text-sm">
            <div class="flex">
              <span>Accions</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        @for (item of filteredUsers; track item) {
        <tr
          class="cursor-pointer hover:bg-blue-100"
          (click)="onRowClicked(item)"
        >
          <td class="py-3 px-4">{{ item.nom }}</td>
          <td class="py-3 px-4">{{ item.cognom }}</td>
          <td class="py-3 px-4">{{ item.email }}</td>
          <td class="py-3 px-4">{{ item.dni }}</td>
          <td>
            <button
              type="button"
              class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="removeItem(item.dni); $event.stopPropagation()"
            >
              Borrar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="mt-6 grid gap-4">
    <button
      (click)="downloadAsExcel()"
      class="btn btn-secondary bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
    >
      Descarregar com Excel
    </button>
    <button
      (click)="downloadAsPDF()"
      class="btn btn-secondary bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
    >
      Descarregar com PDF
    </button>
  </div>
</section>
